<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <form (submit)="uploadPhoto(title, description)">
        <ion-item>
          <ion-label>titulo</ion-label>
          <ion-input type="text" #title required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>descripcion </ion-label>
          <ion-input type="text" required #description></ion-input>
        </ion-item>
        <input type="file" (change)="onPhotoSelected($event)" #photoInput>
        <img [src]="photoSelected || 'assets/no-image.png'" class="img-fluid" alt="No image"
            (click)="photoInput.click()">

        <button class="btn btn-primary btn-block">
            Upload
        </button>
    </form>
    </ion-card-content>
  </ion-card>
</ion-content>
